<h2 class="text-center mb-5">Mes formations</h2>
<div class=" d-flex flex-row justify-content-between flex-wrap">
  <% @assignments.each do |assignment|%>
    <div class="card" style="width: 18rem;">
      <%= image_tag('photoshop_200x168.png', class: 'card-img-top', alt: 'package-photo') %>
      <div class="card-body">
        <% if current_user.assignments.include?(assignment) %>
          <h5 class="card-title text-center mb-4"><%= assignment.learning.name %></h5>
          <div class="d-flex flex-row justify-content-around mb-4">
            <p class="btn btn-primary mt-2"><%= link_to "Voir le cours", learning_path(assignment.learning.id), params:{assignment_id: assignment.id} %></p>
            <% if assignment.assignment_done? %>
              <i class="bi bi-check-circle fa-2x text-primary mt-2 text-success"></i>
            <% else %>
              <i class="bi bi-circle fa-2x text-primary mt-2"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
