  <% @assignments.each do |assignment|%>
  <% if current_user.assignments.include?(assignment) %>
    <p><%= link_to "#{assignment.learning.name}", learning_path(assignment.learning.id) %></p>
  <% end %>
<% end %>
