<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      Une nouvelle formation vient de vous être assignée !
    </p>
    <p>
      Retrouve la dans ton espace client via : <%= @url %>.
    </p>
    <p> À très vite !
    </p>
  </body>
</html>
