<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      Félicitations tu viens d'achever une formation !
    </p>
    <p> À très vite !
    </p>
  </body>
</html>
