        
<div id= "user_<%= @user.id %>" class="">
  <h5>Utilisateur: <%= @user.email %></h5>
  <div>
    <%= button_to "retirer de ma société", user_company_path(@user_companies.find_by(user_id: @user.id, company_id: @company.id)), remote: true, data: { confirm: "Êtes-vous sûr(e) ?" }, params: {user_id: @user.id, company_id: @company.id}, method: :delete, class: "form-btn" %>
  </div>
  <hr class="">
</div>

