<h2 class="text-center">Mon espace entreprise</h2>

<div class="d-flex flex-column justify-content-center">

  <div class="grid-compagny">
    <div class="grid1"><h3>GESTION DES USERS</h3></div>
    <div class="grid2"><h3>GESTION DES LEARNINGS</h3></div>
    <div class="grid3"><h3>INDEX DES OFFERS</h3></div>
    <div class="grid-render">! render !</div>
  </div>

</div>
