<h1>Mon entreprise</h1>
<h1>Gestion des users</h1>
<div class="">
  <%= render 'company_user' %>
</div>
<h1>Gestion des learnings</h1>
<div class="">
  <%= render 'company_learnings' %>
</div>
<h1>Index de ses offers</h1>
<div class="">
  <%= render 'company_offers' %>
</div>
