<p>Bienvenue <%= @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous informons que votre adresse mail vient d'être modifiée pour: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous informons que votre adresse mail à été modifiée pour: <%= @resource.email %>.</p>
<% end %>
