<div class="border-top-2 mt-auto">
                    <div class="container page__container page-section d-flex flex-column">
                        <p class="text-70 brand mb-24pt">
                            <%= image_tag('black-70@2x.png', class: 'brand-icon', alt: 'Luma', width: '30') %>
                            Zorya
                            <i id="social-icon" class="bi bi-facebook font-size-20pt"></i>
                            <i id="social-icon" class="bi bi-instagram font-size-20pt"></i>
                            <i id="social-icon" class="bi bi-twitter font-size-20pt"></i>
                            <i id="social-icon" class="bi bi-youtube font-size-20pt"></i>
                            <i id="social-icon" class="bi bi-linkedin font-size-20pt"></i>
                        </p>
                        <p class="measure-lead-max small text-70 mr-8pt">Formez vos employés à la cybersécurité avec Zorya, votre plateforme e-learning.</p>
                        <p class="mt-10pt mb-8pt d-flex">
                            <a href=""
                               class="text-70 text-underline mr-8pt small">Mentions légales</a>
                            <a href=""
                               class="text-70 text-underline small">Politique de confidentialité</a>
                        </p>
                        <p class="text-50 small mt-n1 mb-0">Made with ❤️ by Matthias, Iris & Olivia</p>
                        <p class="text-50 small mt-n1 mb-0">Copyright Zorya 2022 &copy; Tous droits réservés.</p>
                    </div>
                </div>