<div class="jumbotron">
  <h1>Zorya, votre plateforme e-learning</h1>
  <p class="lead">Formez vos employés à la cybersécurité.</p>
  <p class="lead">
    <p class="btn btn-primary btn-lg"><%= link_to "Faire une demande de démo", new_contact_path()%></p>
  </p>
</div>
