<div class="jumbotron">
  <h1>Zorya, votre plateforme e-learning</h1>
  <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
  <hr class="my-4">
  <p class="lead">
    <p class="btn btn-primary btn-lg"><%= link_to "Faire une demande de démo", new_contact_path()%></p>
  </p>
</div>
