<div class="mdk-drawer js-mdk-drawer"
                 id="default-drawer">
                <div class="mdk-drawer__content">
                    <div class="sidebar sidebar-black-dodger-blue sidebar-left"
                         data-perfect-scrollbar>

                        <!-- Sidebar Content -->

                        <div class="d-flex align-items-center navbar-height">
                            <form action="index.html"
                                  class="search-form search-form--black mx-16pt pr-0 pl-16pt">
                                <input type="text"
                                       class="form-control pl-0"
                                       placeholder="Search">
                                <%= button_tag( :class => "btn", :type => "submit" ) do %>
                                     <i class="bi bi-search font-size-20pt"></i>
                                <% end %>
                            </form>
                        </div>


                        <a href="index.html"
                           class="sidebar-brand ">

                            <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                                <div class="rounded bg-primary"><%= image_tag('white.svg', class: 'img-fluid', alt: 'logo') %></div>

                            </span>

                            <span>Luma</span>
                        </a>

                        <div class="application-shell-content">
                            <span class="sidebar-text">Add your sidebar content here.</span>
                        </div>

                        <!-- // END Sidebar Content -->

                    </div>
                </div>